.features-container {
  margin-top: 170px;
}

.features-title {
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
}

.features-description {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 30px;
}
