.footer-container{
    background: #111010;
    padding-top: 120px;
    padding-bottom: 120px;
}

.footer-title{
    color: #FFFFFF;
    text-align: center;
    font-size: 48px;
    font-weight: 800;
}
.footer-flower-class{
    color: #E55473;
}

.footer-description{
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-top: 24px;
    margin-bottom: 32px;
}

.copyright-class{
    color: rgba(255, 255, 255, 0.40);
text-align: center;
font-size: 16px;
font-weight: 400;
}