.insta-title {
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 20px;
}

.insta-description {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 48px;
}

.insta-card-container {
  width: 80%;
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
}

.insta-img {
  width: 22%;
}
