.latest-deal-container {
  margin: 130px auto;
  width: 75%;
  border-radius: 8px;
  background: url(../images/Rectangle\ 9.png),
    lightgray 0px -203.444px / 100% 213.755% no-repeat;
  background-repeat: no-repeat;
  padding: 80px 3px;
}

.latest-deal-title {
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
}

.latest-deal-description {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  margin-top: 15px;
  margin-bottom: 48px;
}
.latest-deal-input-container{
  display: flex;
  gap: 15px;
  justify-content: center;
}

.email-class {
  width: 400px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  border: 0px;
  border-radius: 8px;
  background: #fff;

  color: rgba(39, 39, 39, 0.6);
  font-size: 16px;
  font-weight: 400;
}

.subscribe-class {
  padding: 12px 20px;
  width: 150px;
  border: 0px;
  border-radius: 8px;
  background: #e55473;

  color: #fff;
  font-size: 20px;
  font-weight: 700;
}
